body {
	background-color: #161616;
	color: #CCCCCC;
	padding: 12px;
	size: 14pt;
	position: absolute;
}

.input_field {
	font-size: 12pt;
	padding: 15px;
	color: #CCCCCC;
	width: 100%;
	border:2px solid #CCCCCC;
	margin: 10px 0 10px 0;
	background-color: #161616;
}
.sub_butt {
	background-color: #E77817;
	font-size: 12pt;
	padding: 15px;
	width: 100%;
	color: #fff;
	border: none;
	margin: 30px 0 10px 0;
}
.transition {
	
	bottom: 0;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
}
#gotoreg {

	display: inline-block;
	text-decoration: underline;
	text-decoration-color: #CCCCCC;
}
#gotoauth {

	display: inline-block;
	text-decoration: underline;
	text-decoration-color: #CCCCCC;
}