body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;
	color: #CCCCCC;
}
.page {
	padding: 5%;
}
#sub {
	display: inline-block;
	float: right;
}
#cancel {
	display: inline-block;
	float: left;
}
.inpt {
	margin: 0 auto;
	width: 90%;
	
}
.inp_field {
	border: none;
	border-bottom: 2px solid #CCCCCC;
	background-color: #2F2F31;
	width: 100%;
	font-size: 12pt;
	padding: 10px 0 10px 0;
	color: #CCCCCC;
	margin-top: 20px;

}
.inp_field:focus {
	outline: none;
	
}
.stats {
	display: flex;
	justify-content: space-between;
	font-size: 11pt;
	margin: 5px 20px 0 20px;
}
#stat_prod{
	display: flex;
	justify-content: space-between;
	font-size: 11pt;
	margin: 20px 8px 0 8px;
}
#stat_prod2{
	justify-content: space-around;
}
#add_prod_button {
    background-color: #E77817; 
    border: none;
    color: white;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 50px;

}
.announcement {
	text-align: center;
	font-size: 10pt;
	margin: 40px 0 30px 0;
}
#display {
	margin-bottom: 50px;
}
#table_prod {
	background-color: #161616;
	padding: 15px 10px 15px 10px;
	margin: 10px 0 10px 0;
	
}
#delete_prod {
	font-size: 14pt;

}
#stat_meal {
	margin: 10px 8px 0 8px;
	display: flex;
	align-items: center;
  	justify-content: space-around;
}
#head_table_prod {
	display: flex;
	align-items: center;
  	justify-content: space-between;
  	margin: 5px 8px 20px 8px;
}
#quant_prod{
	margin-right: 40px;
	font-size: 14pt;
	color: #898989; 
}