body {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #2F2F31;
	color: #CCCCCC;
}
.text{
	background-color: #161616;
	padding: 5%;
}
.center_text{
	
	background-color: #161616;
	padding: 5%;
}
.logo{
	text-align: center;
	margin: 30px 0 30px 0;
}
.page {
	
	color: #CCCCCC;
	padding: 5%;
	size: 14pt;
	height: 100%;

}